n8n_backend.json
{
  "name": "JFinder API (No File)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "listings",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-listings",
      "name": "GET /listings",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        200
      ],
      "webhookId": "listings"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\ntry {\n  const raw = fs.readFileSync('/data/listings.json', 'utf8');\n  const allData = JSON.parse(raw);\n  const mappedData = allData.map(item => ({\n    id: item.id,\n    name: item.name,\n    district: item.district,\n    type: item.type,\n    price: item.price,\n    area: item.area,\n    frontage: item.frontage,\n    floors: item.floors,\n    latitude: item.latitude,\n    longitude: item.longitude,\n    images: item.images || [],\n    address: item.address,\n    ward: item.ward,\n    amenities: {\n      schools: item.amenities_schools || 0,\n      offices: item.amenities_offices || 0,\n      competitors: item.amenities_competitors || 0\n    },\n    owner: item.owner || { name: 'N/A', phone: 'N/A' },\n    postedAt: item.posted_at,\n    savedCount: item.savedCount || 0,\n    ai: {\n      potentialScore: item.ai_potential_score,\n      suggestedPrice: item.ai_suggested_price,\n      riskLevel: item.ai_risk_level,\n      priceLabel: item.price > 100 ? 'expensive' : (item.price < 50 ? 'cheap' : 'fair')\n    },\n    views: item.views\n  }));\n\n  const query = $input.first().json.query || {};\n  let filtered = mappedData;\n  if(query.district) filtered = filtered.filter(x => x.district === query.district);\n  if(query.type) filtered = filtered.filter(x => x.type === query.type);\n  if(query.maxPrice) filtered = filtered.filter(x => x.price <= parseInt(query.maxPrice));\n  if(query.id) filtered = filtered.filter(x => x.id === query.id);\n\n  const limit = parseInt(query.limit) || 50;\n  filtered = filtered.slice(0, limit);\n\n  return [{json: {success: true, count: filtered.length, data: filtered}}];\n} catch (e) {\n  return [{json: {success: false, error: e.message}}];\n}"
      },
      "id": "code-listings",
      "name": "Generate Listings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "resp-listings",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        750,
        200
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "stats",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-stats",
      "name": "GET /stats",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        400
      ],
      "webhookId": "stats"
    },
    {
      "parameters": {
        "jsCode": "const stats = {\n  total: 1000,\n  avgPrice: 67.5,\n  avgArea: 85,\n  avgPotential: 72,\n  byDistrict: {\n    'Nam Từ Liêm': 106, 'Hai Bà Trưng': 92, 'Hà Đông': 90,\n    'Tây Hồ': 89, 'Hoàng Mai': 87, 'Hoàn Kiếm': 84,\n    'Đống Đa': 83, 'Bắc Từ Liêm': 82, 'Thanh Xuân': 77,\n    'Ba Đình': 77, 'Long Biên': 68, 'Cầu Giấy': 65\n  },\n  byType: { shophouse: 283, retail: 247, kiosk: 243, office: 227 }\n};\nreturn [{json:{success:true,stats}}];"
      },
      "id": "code-stats",
      "name": "Stats Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "resp-stats",
      "name": "Respond Stats",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        750,
        400
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "valuation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-val",
      "name": "POST /valuation",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        600
      ],
      "webhookId": "valuation"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nlet allData = [];\ntry {\n  const raw = fs.readFileSync('/data/listings.json', 'utf8');\n  allData = JSON.parse(raw);\n} catch(e) { allData = []; }\n\nconst body = $input.first().json.body || {};\nconst { district, area, frontage, floors, type } = body;\n\n// 1. loc du lieu so sanh (Comparables)\nlet comps = allData.filter(x => x.district === district && x.type === type);\nif (comps.length < 3) comps = allData.filter(x => x.district === district);\n\n// 2. Tinh toan chi so thi truong (Market Metrics)\nlet avgPricePerM2 = 0;\nlet avgFrontage = 4;\n// Gia mac dinh phong ho truong hop ko co du lieu\nconst defaultBase = {'Hoàn Kiếm':120,'Ba Đình':100,'Đống Đa':75}[district] || 60;\n\nif (comps.length > 0) {\n  const totalM2Price = comps.reduce((sum, item) => sum + (item.price / (item.area || 50)), 0);\n  avgPricePerM2 = totalM2Price / comps.length;\n  avgFrontage = comps.reduce((sum, item) => sum + (item.frontage || 4), 0) / comps.length;\n} else {\n  avgPricePerM2 = defaultBase / 50;\n}\n\n// 3. Cong thuc Dinh gia (Valuation Formula)\nlet estPrice = (area || 50) * avgPricePerM2;\n// Premium Mat tien: +5% cho moi m vuot so voi trung binh\nif (frontage) estPrice += estPrice * ((frontage - avgFrontage) * 0.05);\n// Premium So tang: +10% cho moi tang them\nif (floors > 1) estPrice += estPrice * ((floors - 1) * 0.10);\n\nestPrice = Math.round(estPrice * 10) / 10;\n\n// 4. Tinh Diem Tiem Nang (Demand-based Scoring)\nlet score = 60;\nif (comps.length > 0) {\n  // Khu vuc nhieu nguoi xem -> Diem cao\n  const totalViews = comps.reduce((sum, item) => sum + (item.views || 0), 0);\n  const avgViews = totalViews / comps.length;\n  score = Math.min(100, Math.floor((avgViews / 3000) * 80) + 20);\n}\n\nreturn [{json:{\n  success:true,\n  valuation: {\n    suggestedPrice: estPrice,\n    priceRange: {min: Math.floor(estPrice*0.9), max: Math.ceil(estPrice*1.1)},\n    potentialScore: score,\n    riskLevel: score>80?'low':(score>50?'medium':'high'),\n    priceLabel: 'fair',\n    factors: [\n      {name:'Dữ liệu thị trường',impact:'high',note:`Dựa trên ${comps.length} BĐS tương đồng`},\n      {name:'Vị trí',impact:'high',note:district},\n      {name:'Mặt tiền',impact:frontage > avgFrontage ? 'positive' : 'neutral',note: `${frontage}m (TB: ${avgFrontage.toFixed(1)}m)`}\n    ]\n  }\n}}];"
      },
      "id": "code-val",
      "name": "AI Valuation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        600
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "resp-val",
      "name": "Respond Val",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        750,
        600
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "districts",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-dist",
      "name": "GET /districts",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        800
      ],
      "webhookId": "districts"
    },
    {
      "parameters": {
        "jsCode": "const districts = [\n  {id:'hoan-kiem',name:'Hoàn Kiếm',avgPrice:120,listings:84},\n  {id:'ba-dinh',name:'Ba Đình',avgPrice:100,listings:77},\n  {id:'tay-ho',name:'Tây Hồ',avgPrice:90,listings:89},\n  {id:'cau-giay',name:'Cầu Giấy',avgPrice:80,listings:65},\n  {id:'dong-da',name:'Đống Đa',avgPrice:75,listings:83},\n  {id:'hai-ba-trung',name:'Hai Bà Trưng',avgPrice:70,listings:92},\n  {id:'thanh-xuan',name:'Thanh Xuân',avgPrice:60,listings:77},\n  {id:'nam-tu-liem',name:'Nam Từ Liêm',avgPrice:55,listings:106},\n  {id:'ha-dong',name:'Hà Đông',avgPrice:50,listings:90},\n  {id:'long-bien',name:'Long Biên',avgPrice:45,listings:68},\n  {id:'hoang-mai',name:'Hoàng Mai',avgPrice:45,listings:87},\n  {id:'bac-tu-liem',name:'Bắc Từ Liêm',avgPrice:40,listings:82}\n];\nreturn [{json:{success:true,districts}}];"
      },
      "id": "code-dist",
      "name": "Districts List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        800
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "resp-dist",
      "name": "Respond Dist",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        750,
        800
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "roi",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-roi",
      "name": "POST /roi",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        1000
      ],
      "webhookId": "roi"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst { monthlyRent, productPrice, dailyCustomers, operatingCost } = body;\nconst revenue = productPrice * dailyCustomers * 30;\nconst cost = monthlyRent + (operatingCost||0);\nconst profit = revenue - cost;\nconst breakEven = Math.ceil(monthlyRent / (productPrice * dailyCustomers));\nconst roi = ((profit/cost)*100).toFixed(1);\nreturn [{json:{\n  success:true,\n  analysis: {\n    monthlyRevenue: revenue,\n    totalMonthlyCost: cost,\n    monthlyProfit: profit,\n    breakEvenDays: breakEven,\n    roi: parseFloat(roi),\n    recommendation: profit>0 ? 'Có lãi - Khả thi' : 'Lỗ - Cần cân nhắc'\n  }\n}}];"
      },
      "id": "code-roi",
      "name": "ROI Calc",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        1000
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "resp-roi",
      "name": "Respond ROI",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        750,
        1000
      ]
    }
  ],
  "connections": {
    "GET /listings": {
      "main": [
        [
          {
            "node": "Generate Listings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Listings": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /stats": {
      "main": [
        [
          {
            "node": "Stats Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stats Data": {
      "main": [
        [
          {
            "node": "Respond Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /valuation": {
      "main": [
        [
          {
            "node": "AI Valuation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Valuation": {
      "main": [
        [
          {
            "node": "Respond Val",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /districts": {
      "main": [
        [
          {
            "node": "Districts List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Districts List": {
      "main": [
        [
          {
            "node": "Respond Dist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /roi": {
      "main": [
        [
          {
            "node": "ROI Calc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ROI Calc": {
      "main": [
        [
          {
            "node": "Respond ROI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}