n8n_backend.json
{
  "name": "JFinder API (No File)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "listings",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-listings",
      "name": "GET /listings",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        200
      ],
      "webhookId": "listings"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\ntry {\n  const raw = fs.readFileSync('/data/listings.json', 'utf8');\n  const allData = JSON.parse(raw);\n  \n  const mappedData = allData.map(item => ({\n    id: item.id,\n    name: item.name,\n    province: item.province,\n    district: item.district,\n    ward: item.ward,\n    address: item.address,\n    type: item.type,\n    market_segment: item.market_segment,\n    price: item.price,\n    area: item.area,\n    frontage: item.frontage,\n    floors: item.floors,\n    rent_per_sqm_million: item.rent_per_sqm_million,\n    latitude: item.latitude,\n    longitude: item.longitude,\n    images: item.images || [],\n    amenities: {\n      schools: item.amenities_schools || 0,\n      offices: item.amenities_offices || 0,\n      competitors: item.amenities_competitors || 0\n    },\n    owner: item.owner || { name: 'N/A', phone: 'N/A' },\n    postedAt: item.posted_at,\n    savedCount: item.savedCount || 0,\n    ai: {\n      potentialScore: item.ai_potential_score || 0,\n      suggestedPrice: item.ai_suggested_price || item.price,\n      riskLevel: (item.ai_risk_level || 'Medium').toLowerCase(),\n      priceLabel: item.price > 800 ? 'expensive' : (item.price < 200 ? 'cheap' : 'fair')\n    },\n    views: item.views || 0,\n    image_meta: item.image_meta\n  }));\n\n  const query = $input.first().json.query || {};\n  let filtered = mappedData;\n  \n  if(query.province) filtered = filtered.filter(x => x.province === query.province);\n  if(query.district) filtered = filtered.filter(x => x.district === query.district);\n  if(query.type) filtered = filtered.filter(x => x.type === query.type);\n  if(query.maxPrice) filtered = filtered.filter(x => x.price <= parseInt(query.maxPrice));\n  if(query.id) filtered = filtered.filter(x => x.id === query.id);\n\n  const limit = parseInt(query.limit) || 100;\n  filtered = filtered.slice(0, limit);\n\n  return [{json: {success: true, count: filtered.length, data: filtered}}];\n} catch (e) {\n  return [{json: {success: false, error: e.message}}];\n}"
      },
      "id": "code-listings",
      "name": "Generate Listings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "resp-listings",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        750,
        200
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "stats",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-stats",
      "name": "GET /stats",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        400
      ],
      "webhookId": "stats"
    },
    {
      "parameters": {
        "jsCode": "const stats = {\n  total: 1000,\n  avgPrice: 67.5,\n  avgArea: 85,\n  avgPotential: 72,\n  byDistrict: {\n    'Nam Từ Liêm': 106, 'Hai Bà Trưng': 92, 'Hà Đông': 90,\n    'Tây Hồ': 89, 'Hoàng Mai': 87, 'Hoàn Kiếm': 84,\n    'Đống Đa': 83, 'Bắc Từ Liêm': 82, 'Thanh Xuân': 77,\n    'Ba Đình': 77, 'Long Biên': 68, 'Cầu Giấy': 65\n  },\n  byType: { shophouse: 283, retail: 247, kiosk: 243, office: 227 }\n};\nreturn [{json:{success:true,stats}}];"
      },
      "id": "code-stats",
      "name": "Stats Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "resp-stats",
      "name": "Respond Stats",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        750,
        400
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "valuation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-val",
      "name": "POST /valuation",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        600
      ],
      "webhookId": "valuation"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst { district, area, frontage, floors, type } = body;\n\nconst prices = {'Hoàn Kiếm':120,'Ba Đình':100,'Tây Hồ':90,'Cầu Giấy':80,'Đống Đa':75,'Hai Bà Trưng':70,'Thanh Xuân':60,'Nam Từ Liêm':55,'Hà Đông':50,'Long Biên':45,'Hoàng Mai':45,'Bắc Từ Liêm':40};\nconst base = prices[district] || 50;\nlet price = base + (area-50)*0.3 + (frontage-4)*5 + (floors-1)*3;\nconst mult = {shophouse:1.2,office:1.1,retail:1.0,kiosk:0.7};\nprice *= mult[type]||1;\nprice = Math.max(10, Math.round(price));\n\nconst score = Math.floor(Math.random()*30)+60;\nreturn [{json:{\n  success:true,\n  valuation: {\n    suggestedPrice: price,\n    priceRange: {min: Math.round(price*0.9), max: Math.round(price*1.1)},\n    potentialScore: score,\n    riskLevel: score>75?'low':'medium',\n    priceLabel: 'fair',\n    factors: [\n      {name:'Vị trí',impact:'high',note:district},\n      {name:'Diện tích',impact:area>80?'positive':'neutral',note:`${area}m²`},\n      {name:'Mặt tiền',impact:frontage>5?'positive':'neutral',note:`${frontage}m`}\n    ]\n  }\n}}];"
      },
      "id": "code-val",
      "name": "AI Valuation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        600
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "resp-val",
      "name": "Respond Val",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        750,
        600
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "districts",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-dist",
      "name": "GET /districts",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        800
      ],
      "webhookId": "districts"
    },
    {
      "parameters": {
        "jsCode": "const districts = [\n  {id:'hoan-kiem',name:'Hoàn Kiếm',avgPrice:120,listings:84},\n  {id:'ba-dinh',name:'Ba Đình',avgPrice:100,listings:77},\n  {id:'tay-ho',name:'Tây Hồ',avgPrice:90,listings:89},\n  {id:'cau-giay',name:'Cầu Giấy',avgPrice:80,listings:65},\n  {id:'dong-da',name:'Đống Đa',avgPrice:75,listings:83},\n  {id:'hai-ba-trung',name:'Hai Bà Trưng',avgPrice:70,listings:92},\n  {id:'thanh-xuan',name:'Thanh Xuân',avgPrice:60,listings:77},\n  {id:'nam-tu-liem',name:'Nam Từ Liêm',avgPrice:55,listings:106},\n  {id:'ha-dong',name:'Hà Đông',avgPrice:50,listings:90},\n  {id:'long-bien',name:'Long Biên',avgPrice:45,listings:68},\n  {id:'hoang-mai',name:'Hoàng Mai',avgPrice:45,listings:87},\n  {id:'bac-tu-liem',name:'Bắc Từ Liêm',avgPrice:40,listings:82}\n];\nreturn [{json:{success:true,districts}}];"
      },
      "id": "code-dist",
      "name": "Districts List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        800
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "resp-dist",
      "name": "Respond Dist",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        750,
        800
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "roi",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-roi",
      "name": "POST /roi",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        1000
      ],
      "webhookId": "roi"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst { monthlyRent, productPrice, dailyCustomers, operatingCost } = body;\nconst revenue = productPrice * dailyCustomers * 30;\nconst cost = monthlyRent + (operatingCost||0);\nconst profit = revenue - cost;\nconst breakEven = Math.ceil(monthlyRent / (productPrice * dailyCustomers));\nconst roi = ((profit/cost)*100).toFixed(1);\nreturn [{json:{\n  success:true,\n  analysis: {\n    monthlyRevenue: revenue,\n    totalMonthlyCost: cost,\n    monthlyProfit: profit,\n    breakEvenDays: breakEven,\n    roi: parseFloat(roi),\n    recommendation: profit>0 ? 'Có lãi - Khả thi' : 'Lỗ - Cần cân nhắc'\n  }\n}}];"
      },
      "id": "code-roi",
      "name": "ROI Calc",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        1000
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "resp-roi",
      "name": "Respond ROI",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        750,
        1000
      ]
    }
  ],
  "connections": {
    "GET /listings": {
      "main": [
        [
          {
            "node": "Generate Listings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Listings": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /stats": {
      "main": [
        [
          {
            "node": "Stats Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stats Data": {
      "main": [
        [
          {
            "node": "Respond Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /valuation": {
      "main": [
        [
          {
            "node": "AI Valuation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Valuation": {
      "main": [
        [
          {
            "node": "Respond Val",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /districts": {
      "main": [
        [
          {
            "node": "Districts List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Districts List": {
      "main": [
        [
          {
            "node": "Respond Dist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /roi": {
      "main": [
        [
          {
            "node": "ROI Calc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ROI Calc": {
      "main": [
        [
          {
            "node": "Respond ROI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
