n8n/listing_api_workflow.json
{
  "name": "JFinder - Verify Admin via Nominatim (CSV -> CSV, cached, 1 req/s)",
  "nodes": [
    {
      "parameters": {},
      "id": "ManualTrigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        200
      ]
    },
    {
      "parameters": {
        "filePath": "/files/input.csv"
      },
      "id": "ReadBinaryFile",
      "name": "Read input.csv",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        460,
        200
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "binaryPropertyName": "data",
        "fileFormat": "csv"
      },
      "id": "SpreadsheetRead",
      "name": "CSV -> Items",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [
        700,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const sd = this.getWorkflowStaticData('global');\n// reset run-local results array\nsd.__results = [];\n// keep cache across runs\nif (!sd.__cache) sd.__cache = {};\n\n// normalize column names to what we expect (soft-mapping)\nfunction pick(obj, keys) {\n  for (const k of keys) {\n    if (obj[k] !== undefined && obj[k] !== null && obj[k] !== '') return obj[k];\n  }\n  return undefined;\n}\n\nreturn items.map(item => {\n  const j = item.json;\n\n  // map lat/lon fields\n  const lat = Number(pick(j, ['latitude','lat','Latitude','LAT']));\n  const lon = Number(pick(j, ['longitude','lon','lng','Longitude','LON','LNG']));\n\n  // map admin fields\n  const province = String(pick(j, ['province','city','Province','City']) ?? '');\n  const district = String(pick(j, ['district','District']) ?? '');\n  const ward = String(pick(j, ['ward','Ward']) ?? '');\n\n  j.__lat = lat;\n  j.__lon = lon;\n  j.__province = province;\n  j.__district = district;\n  j.__ward = ward;\n\n  // fix common duplication like \"Phường Phường ...\"\n  j.__ward_clean = ward.replace(/\\bPhường\\s+Phường\\b/gi, 'Phường').trim();\n\n  return item;\n});"
      },
      "id": "InitAndNormalize",
      "name": "Init + Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        200
      ]
    },
    {
      "parameters": {
        "batchSize": 1
      },
      "id": "SplitInBatches",
      "name": "Split in Batches (1)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1180,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const sd = this.getWorkflowStaticData('global');\n\nfunction round6(x){\n  return Math.round(x * 1e6) / 1e6;\n}\n\nreturn items.map(item => {\n  const j = item.json;\n  const lat = j.__lat;\n  const lon = j.__lon;\n\n  const lat6 = round6(lat);\n  const lon6 = round6(lon);\n  const key = `${lat6},${lon6}`;\n\n  j.__cache_key = key;\n  j.__cached = sd.__cache[key] ? true : false;\n\n  // Build Nominatim URL (Vietnamese preferred)\n  j.__nominatim_url = `https://nominatim.openstreetmap.org/reverse?format=jsonv2&lat=${encodeURIComponent(lat6)}&lon=${encodeURIComponent(lon6)}&zoom=18&addressdetails=1&accept-language=vi`;\n\n  return item;\n});"
      },
      "id": "BuildKeyAndUrl",
      "name": "Build cache key + URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1420,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.__cached}}",
              "value2": true
            }
          ]
        }
      },
      "id": "IfCached",
      "name": "IF cached?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1660,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const sd = this.getWorkflowStaticData('global');\n\nfunction norm(s){\n  return String(s ?? '')\n    .toLowerCase()\n    .replace(/\\s+/g,' ')\n    .replace(/^thành phố\\s+/,'')\n    .replace(/^tp\\.?\\s*/,'')\n    .replace(/^quận\\s+/,'quận ')\n    .trim();\n}\n\nreturn items.map(item => {\n  const j = item.json;\n  const cached = sd.__cache[j.__cache_key];\n\n  j.province_verified = cached.province_verified ?? '';\n  j.district_verified = cached.district_verified ?? '';\n  j.ward_verified = cached.ward_verified ?? '';\n  j.display_name_verified = cached.display_name_verified ?? '';\n  j.osm_place_id = cached.osm_place_id ?? null;\n  j.admin_verified_source = 'nominatim(cache)';\n\n  const d0 = norm(j.__district);\n  const d1 = norm(j.district_verified);\n  const w0 = norm(j.__ward_clean);\n  const w1 = norm(j.ward_verified);\n\n  j.admin_mismatch = (d1 && d0 && d0 !== d1) || (w1 && w0 && w0 !== w1);\n\n  // push to results\n  sd.__results.push(j);\n  return item;\n});"
      },
      "id": "UseCache",
      "name": "Use cached result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1880,
        80
      ]
    },
    {
      "parameters": {
        "url": "={{$json.__nominatim_url}}",
        "authentication": "none",
        "responseFormat": "json",
        "options": {
          "timeout": 120000,
          "followRedirect": true,
          "ignoreResponseCode": true
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "User-Agent",
              "value": "JFinder-BI/1.0 (n8n; admin-verify)"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        }
      },
      "id": "HTTPNominatim",
      "name": "HTTP Reverse (Nominatim)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1880,
        320
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "amount": 1100
      },
      "id": "WaitRateLimit",
      "name": "Wait 1.1s (rate limit)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2100,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const sd = this.getWorkflowStaticData('global');\n\nfunction pickAddr(addr, keys){\n  for (const k of keys){\n    if (addr && addr[k]) return addr[k];\n  }\n  return '';\n}\n\nfunction norm(s){\n  return String(s ?? '')\n    .toLowerCase()\n    .replace(/\\s+/g,' ')\n    .replace(/^thành phố\\s+/,'')\n    .replace(/^tp\\.?\\s*/,'')\n    .trim();\n}\n\nreturn items.map(item => {\n  const j = item.json;\n\n  // n8n http node returns body directly in json for responseFormat=json\n  // If request failed, it may contain { error: ... } or empty\n  const resp = j;\n  const addr = resp.address || {};\n\n  const provinceVerified = pickAddr(addr, ['city','municipality','state','region']);\n  const districtVerified = pickAddr(addr, ['city_district','district','county','borough']);\n  const wardVerified = pickAddr(addr, ['quarter','neighbourhood','suburb']);\n\n  // attach to original fields (they are still in item.json because we passed through)\n  j.province_verified = provinceVerified;\n  j.district_verified = districtVerified;\n  j.ward_verified = wardVerified;\n  j.display_name_verified = resp.display_name || '';\n  j.osm_place_id = resp.place_id || null;\n  j.admin_verified_source = 'nominatim';\n\n  const d0 = norm(j.__district);\n  const d1 = norm(j.district_verified);\n  const w0 = norm(j.__ward_clean);\n  const w1 = norm(j.ward_verified);\n\n  j.admin_mismatch = (d1 && d0 && d0 !== d1) || (w1 && w0 && w0 !== w1);\n\n  // cache it if it looks valid\n  const cacheObj = {\n    province_verified: j.province_verified,\n    district_verified: j.district_verified,\n    ward_verified: j.ward_verified,\n    display_name_verified: j.display_name_verified,\n    osm_place_id: j.osm_place_id\n  };\n  sd.__cache[j.__cache_key] = cacheObj;\n\n  // push to results\n  sd.__results.push(j);\n  return item;\n});"
      },
      "id": "ParseAndCache",
      "name": "Parse + Cache + Flag mismatch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        320
      ]
    },
    {
      "parameters": {},
      "id": "NoOp",
      "name": "No-op (loop join)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2560,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const sd = this.getWorkflowStaticData('global');\n\n// emit results as items\nconst results = sd.__results || [];\n\n// optional: remove internal helper fields\nfor (const r of results) {\n  delete r.__nominatim_url;\n  delete r.__cached;\n  delete r.__cache_key;\n  delete r.__lat;\n  delete r.__lon;\n  delete r.__province;\n  delete r.__district;\n  delete r.__ward;\n  delete r.__ward_clean;\n}\n\nreturn results.map(r => ({ json: r }));"
      },
      "id": "EmitResults",
      "name": "Emit results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1420,
        420
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileFormat": "csv",
        "options": {
          "fileName": "output_verified.csv"
        }
      },
      "id": "SpreadsheetWrite",
      "name": "Items -> CSV",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [
        1660,
        420
      ]
    },
    {
      "parameters": {
        "filePath": "/files/output_verified.csv",
        "dataPropertyName": "data"
      },
      "id": "WriteBinaryFile",
      "name": "Write output_verified.csv",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        1900,
        420
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read input.csv",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read input.csv": {
      "main": [
        [
          {
            "node": "CSV -> Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CSV -> Items": {
      "main": [
        [
          {
            "node": "Init + Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init + Normalize": {
      "main": [
        [
          {
            "node": "Split in Batches (1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split in Batches (1)": {
      "main": [
        [
          {
            "node": "Build cache key + URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Emit results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build cache key + URL": {
      "main": [
        [
          {
            "node": "IF cached?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF cached?": {
      "main": [
        [
          {
            "node": "Use cached result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Reverse (Nominatim)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use cached result": {
      "main": [
        [
          {
            "node": "No-op (loop join)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Reverse (Nominatim)": {
      "main": [
        [
          {
            "node": "Wait 1.1s (rate limit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1.1s (rate limit)": {
      "main": [
        [
          {
            "node": "Parse + Cache + Flag mismatch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse + Cache + Flag mismatch": {
      "main": [
        [
          {
            "node": "No-op (loop join)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No-op (loop join)": {
      "main": [
        [
          {
            "node": "Split in Batches (1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Emit results": {
      "main": [
        [
          {
            "node": "Items -> CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Items -> CSV": {
      "main": [
        [
          {
            "node": "Write output_verified.csv",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionTimeout": 0,
    "saveExecutionProgress": true
  },
  "versionId": "1"
}
