n8n/listing_api_workflow.json
{
  "name": "API - Listing Detail",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "listing/:id",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Detail Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        320
      ],
      "webhookId": "listing-detail"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, title, city, district, ward, price_million, area_m2, rent_per_sqm_million, lat, lon, type, segment, frontage, floors, views, saved_count, image_url, raw_data, created_at FROM listings WHERE id = {{ $json.params.id }} LIMIT 1",
        "options": {}
      },
      "id": "postgres-1",
      "name": "Get Listing",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        460,
        320
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "JFinder DB"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $input.all().length > 0 ? { success: true, data: $input.first().json } : { success: false, error: 'Not found' } }}",
        "options": {}
      },
      "id": "respond-1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        680,
        320
      ]
    }
  ],
  "connections": {
    "Detail Webhook": {
      "main": [
        [
          {
            "node": "Get Listing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Listing": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
