n8n/roi_api_workflow.json
{
  "name": "API - ROI Calculator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "roi",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "ROI Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        320
      ],
      "webhookId": "roi-calculator"
    },
    {
      "parameters": {
        "jsCode": "// ROI Calculator\n// Input: monthly_rent (million VND), product_price (VND), profit_margin (0-1), target_daily_customers\n\nconst body = $input.first().json.body || {};\n\n// Parse inputs with defaults\nconst monthlyRent = parseFloat(body.monthly_rent || body.monthlyRent) || 50; // million VND\nconst productPrice = parseFloat(body.product_price || body.productPrice) || 50000; // VND per item\nconst profitMargin = parseFloat(body.profit_margin || body.profitMargin) || 0.3; // 30%\nconst dailyCustomers = parseInt(body.target_daily_customers || body.dailyCustomers) || 100;\nconst operatingCost = parseFloat(body.operating_cost || body.operatingCost) || 10; // million VND/month\n\n// Calculations (all in VND for precision, then convert)\nconst monthlyRentVND = monthlyRent * 1000000;\nconst operatingCostVND = operatingCost * 1000000;\nconst profitPerItem = productPrice * profitMargin;\nconst dailyProfit = profitPerItem * dailyCustomers;\nconst monthlyRevenue = dailyProfit * 30; // 30 days\nconst totalMonthlyCost = monthlyRentVND + operatingCostVND;\nconst monthlyNetProfit = monthlyRevenue - totalMonthlyCost;\n\n// Break-even calculation\nconst breakEvenDays = totalMonthlyCost > 0 ? Math.ceil(totalMonthlyCost / dailyProfit) : 0;\n\n// ROI percentage\nconst roiPercent = totalMonthlyCost > 0 ? ((monthlyNetProfit / totalMonthlyCost) * 100).toFixed(1) : 0;\n\n// Viability assessment\nlet viability = 'excellent';\nif (breakEvenDays > 25) viability = 'risky';\nelse if (breakEvenDays > 20) viability = 'moderate';\nelse if (breakEvenDays > 15) viability = 'good';\n\nreturn {\n  json: {\n    inputs: {\n      monthly_rent_million: monthlyRent,\n      product_price_vnd: productPrice,\n      profit_margin: profitMargin,\n      daily_customers: dailyCustomers,\n      operating_cost_million: operatingCost\n    },\n    results: {\n      daily_profit_vnd: Math.round(dailyProfit),\n      monthly_revenue_vnd: Math.round(monthlyRevenue),\n      total_monthly_cost_vnd: Math.round(totalMonthlyCost),\n      monthly_net_profit_vnd: Math.round(monthlyNetProfit),\n      break_even_days: breakEvenDays,\n      roi_percent: parseFloat(roiPercent),\n      viability: viability\n    }\n  }\n};"
      },
      "id": "code-1",
      "name": "Calculate ROI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        320
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, ...$json } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        680,
        320
      ]
    }
  ],
  "connections": {
    "ROI Webhook": {
      "main": [
        [
          {
            "node": "Calculate ROI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate ROI": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
