n8n/stats_api_workflow.json
{
  "name": "API - Stats",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "stats",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Stats Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        320
      ],
      "webhookId": "stats"
    },
    {
      "parameters": {
        "jsCode": "const query = $input.first().json.query || {};\nconst level = query.level || 'district';\nconst city = query.city || query.province;\n\nlet sql;\nlet cityFilter = city ? `WHERE province ILIKE '%${city}%'` : '';\n\nif (level === 'ward') {\n  sql = `SELECT * FROM view_ward_stats ${cityFilter} ORDER BY province, district, ward;`;\n} else {\n  sql = `SELECT * FROM view_district_stats ${cityFilter} ORDER BY province, district;`;\n}\n\nreturn { json: { sql: sql, level: level } };"
      },
      "id": "code-1",
      "name": "Build Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        320
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {}
      },
      "id": "postgres-1",
      "name": "Query Stats",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        680,
        320
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "JFinder DB"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, level: $('Build Query').item.json.level, data: $input.all().map(i => i.json), count: $input.all().length } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        900,
        320
      ]
    }
  ],
  "connections": {
    "Stats Webhook": {
      "main": [
        [
          {
            "node": "Build Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Query": {
      "main": [
        [
          {
            "node": "Query Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Stats": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
