n8n/stats_api_workflow.json
{
  "name": "API - Stats",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "stats",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Stats Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        320
      ],
      "webhookId": "stats"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT city, district, COUNT(*) as listing_count, PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY price_million) as median_price, PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY price_million) as p25_price, PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY price_million) as p75_price, AVG(views)::int as avg_views, SUM(saved_count) as total_saved FROM listings GROUP BY city, district ORDER BY listing_count DESC",
        "options": {}
      },
      "id": "postgres-1",
      "name": "Get Stats",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        460,
        320
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "JFinder DB"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, data: $input.all().map(i => i.json) } }}",
        "options": {}
      },
      "id": "respond-1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        680,
        320
      ]
    }
  ],
  "connections": {
    "Stats Webhook": {
      "main": [
        [
          {
            "node": "Get Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Stats": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
