n8n/valuation_api_workflow.json
{
  "name": "API - Valuation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "valuation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Valuation Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        320
      ],
      "webhookId": "valuation"
    },
    {
      "parameters": {
        "jsCode": "// Get input parameters\nconst body = $input.first().json.body || {};\n\nconst district = body.district || '';\nconst ward = body.ward || '';\nconst type = body.type || 'streetfront';\nconst area = parseFloat(body.area_m2 || body.area) || 50;\nconst frontage = parseFloat(body.frontage_m || body.frontage) || 5;\nconst floors = parseInt(body.floors) || 1;\n\n// Build query to get comparable listings\nlet whereClause = 'WHERE 1=1';\nif (district) whereClause += ` AND district ILIKE '%${district}%'`;\nif (ward) whereClause += ` AND ward ILIKE '%${ward}%'`;\nif (type) whereClause += ` AND type = '${type}'`;\n\nconst sql = `\nSELECT \n  PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY rent_per_sqm_million) as p25_sqm,\n  PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY rent_per_sqm_million) as median_sqm,\n  PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY rent_per_sqm_million) as p75_sqm,\n  AVG(rent_per_sqm_million) as avg_sqm,\n  COUNT(*) as sample_size\nFROM listings\n${whereClause}\n`;\n\nreturn {\n  json: {\n    sql: sql,\n    input: { district, ward, type, area, frontage, floors }\n  }\n};"
      },
      "id": "code-query",
      "name": "Build Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        320
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {}
      },
      "id": "postgres-1",
      "name": "Get Stats",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        680,
        320
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "JFinder DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Calculate suggested price\nconst stats = $input.first().json;\nconst input = $('Build Query').first().json.input;\n\n// Get stats values\nconst p25 = parseFloat(stats.p25_sqm) || 0.5;\nconst median = parseFloat(stats.median_sqm) || 1.0;\nconst p75 = parseFloat(stats.p75_sqm) || 2.0;\nconst sampleSize = parseInt(stats.sample_size) || 0;\n\n// Apply adjustments\nlet adjustmentFactor = 1.0;\n\n// Frontage bonus (wider = more valuable)\nif (input.frontage > 8) adjustmentFactor += 0.1;\nelse if (input.frontage > 5) adjustmentFactor += 0.05;\nelse if (input.frontage < 3) adjustmentFactor -= 0.1;\n\n// Floors bonus for shophouse/office\nif ((input.type === 'shophouse' || input.type === 'office') && input.floors > 2) {\n  adjustmentFactor += (input.floors - 2) * 0.03;\n}\n\n// Calculate prices\nconst suggestedPricePerSqm = median * adjustmentFactor;\nconst minPricePerSqm = p25 * adjustmentFactor * 0.95;\nconst maxPricePerSqm = p75 * adjustmentFactor * 1.05;\n\nconst suggestedPrice = suggestedPricePerSqm * input.area;\nconst minPrice = minPricePerSqm * input.area;\nconst maxPrice = maxPricePerSqm * input.area;\n\n// Confidence based on sample size\nlet confidence = 'low';\nif (sampleSize >= 30) confidence = 'high';\nelse if (sampleSize >= 10) confidence = 'medium';\n\nreturn {\n  json: {\n    input: input,\n    market_stats: {\n      p25_per_sqm: p25.toFixed(3),\n      median_per_sqm: median.toFixed(3),\n      p75_per_sqm: p75.toFixed(3),\n      sample_size: sampleSize\n    },\n    valuation: {\n      suggested_price_million: Math.round(suggestedPrice * 10) / 10,\n      price_range: {\n        min: Math.round(minPrice * 10) / 10,\n        max: Math.round(maxPrice * 10) / 10\n      },\n      price_per_sqm: Math.round(suggestedPricePerSqm * 1000) / 1000,\n      adjustment_applied: Math.round(adjustmentFactor * 100 - 100) + '%',\n      confidence: confidence\n    }\n  }\n};"
      },
      "id": "code-calc",
      "name": "Calculate Valuation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        320
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, ...$json } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1120,
        320
      ]
    }
  ],
  "connections": {
    "Valuation Webhook": {
      "main": [
        [
          {
            "node": "Build Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Query": {
      "main": [
        [
          {
            "node": "Get Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Stats": {
      "main": [
        [
          {
            "node": "Calculate Valuation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Valuation": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
