n8n/archive/valuation_gemini_v3.json
{
  "name": "Valuation Gemini v3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jfinder/ai/valuation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "valuation-gemini-v3"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const data = require('/data/files/vn_rental_3cities_verified.json');\n\nconst body = $input.item.json.body;\nconst district = body.district;\nconst type = body.type;\nconst segment = body.segment;\nconst area = body.area || 0;\nconst frontage = body.frontage || 0;\nconst floors = body.floors || 1;\n\nconst filtered = data.filter(item => \n  item.district === district &&\n  item.type === type &&\n  item.market_segment === segment\n);\n\nif (filtered.length === 0) {\n  return [{\n    json: {\n      error: true,\n      message: 'No data found',\n      district,\n      segment\n    }\n  }];\n}\n\nconst prices = filtered.map(item => item.rental_price).sort((a,b) => a - b);\nconst p25 = prices[Math.floor(prices.length * 0.25)];\nconst median = prices[Math.floor(prices.length * 0.5)];\nconst p75 = prices[Math.floor(prices.length * 0.75)];\n\nconst areaFactor = area > 30 ? 1 : area / 30;\nconst frontageFactor = frontage > 4 ? 1 : frontage / 4;\nconst floorFactor = 1 + ((floors - 1) * 0.15);\nconst totalFactor = areaFactor * frontageFactor * floorFactor;\n\nconst suggested = Math.round(median * totalFactor);\n\nreturn [{\n  json: {\n    district,\n    province: body.province || '',\n    segment,\n    area,\n    frontage,\n    floors,\n    suggested_price: suggested,\n    price_range: {\n      min: Math.round(p25 * totalFactor),\n      max: Math.round(p75 * totalFactor)\n    },\n    stats: {\n      p25, median, p75,\n      sample_size: filtered.length\n    },\n    prompt: `Bạn là chuyên gia BĐS Việt Nam. Phân tích mặt bằng ${segment} tại ${district}, ${body.province}:\\n\\n- Diện tích: ${area}m²\\n- Mặt tiền: ${frontage}m\\n- Tầng: ${floors}\\n- Giá đề xuất: ${suggested.toLocaleString()} VNĐ/tháng\\n- Khoảng giá thị trường: ${Math.round(p25*totalFactor).toLocaleString()} - ${Math.round(p75*totalFactor).toLocaleString()} VNĐ\\n- ${filtered.length} mẫu tham khảo\\n\\nĐưa ra (max 300 từ):\\n1. Nhận xét giá và vị trí\\n2. Gợi ý nâng cấp\\n3. Tips thương lượng`\n  }\n}];"
      },
      "id": "calculate",
      "name": "Calculate Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "operation": "message",
        "resource": "text",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gemini-1.5-flash"
        },
        "prompt": "={{ $json.prompt }}",
        "options": {
          "temperature": 0.7,
          "maxOutputTokens": 1024
        }
      },
      "id": "gemini",
      "name": "Gemini",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [640, 300],
      "credentials": {
        "googlePalmApi": {
          "id": "gemini_api",
          "name": "Google PaLM API account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const calc = $('Calculate Stats').item.json;\nconst geminiText = $input.item.json.message?.content || '';\n\nreturn [{\n  json: {\n    success: true,\n    valuation: {\n      suggested_price: calc.suggested_price,\n      price_range: calc.price_range,\n      stats: calc.stats\n    },\n    ai_insights: {\n      ai_powered: geminiText.length > 0,\n      model: geminiText.length > 0 ? 'gemini-1.5-flash' : '',\n      market_insight: geminiText || `Khu vực có ${calc.stats.sample_size} tin rao. Giá trung vị: ${calc.stats.median.toLocaleString()} VNĐ/tháng.`,\n      upgrade_suggestions: [],\n      negotiation_tips: []\n    }\n  }\n}];"
      },
      "id": "format",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond_webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1040, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const calc = $('Calculate Stats').item.json;\n\nif (calc.error) {\n  return [{\n    json: {\n      success: false,\n      error: calc.message,\n      ai_insights: {\n        ai_powered: false,\n        market_insight: 'Không đủ dữ liệu để định giá.'\n      }\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    valuation: {\n      suggested_price: calc.suggested_price,\n      price_range: calc.price_range,\n      stats: calc.stats\n    },\n    ai_insights: {\n      ai_powered: false,\n      fallback_reason: 'Gemini error',\n      market_insight: `Khu vực có ${calc.stats.sample_size} tin rao. Giá trung vị: ${calc.stats.median.toLocaleString()} VNĐ/tháng.`\n    }\n  }\n}];"
      },
      "id": "fallback",
      "name": "Fallback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 480]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Calculate Stats", "type": "main", "index": 0 }]]
    },
    "Calculate Stats": {
      "main": [[{ "node": "Gemini", "type": "main", "index": 0 }]]
    },
    "Gemini": {
      "main": [[{ "node": "Format Response", "type": "main", "index": 0 }]],
      "error": [[{ "node": "Fallback", "type": "main", "index": 0 }]]
    },
    "Format Response": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    },
    "Fallback": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-17T07:00:00.000Z",
  "versionId": "1"
}
